.mat-toolbar {
  height: 6%;
  background: #252223;
  color: #FFFFFF;

  .fill {
    flex: 1 1 auto;
  }

  .display-name {
    margin: 50px;
  }
}
.page-container {
  display: grid;
  grid-template-columns: 60px auto;
  height: 100%;
  padding: 0px;

  .side-bar {
    background: #252223;

    .nav-link {
      color: #FFF;
      font-size: 28px;
      cursor: pointer;
    }
  }

  .content-container {
    margin-top: 30px;
  }
}
