/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap-scss";

body {
  margin: 0;
  background: #F2F2F2;
  height: 100vh;
}

//.content {
//  display: flex;
//  padding: 5vh;
//  align-items: center;
//  justify-content: center;
//  text-align: center;
//}
