.home-page {

  padding: 20px 60px;

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    margin-bottom: 6px;
  }

  .banner {
    text-align: center;
    background: #e9ecef;
    padding: 30px;
  }

  img {
    border-radius: 50%;
    display: block;
    margin: auto;
  }

  button {
    margin: 10px;
  }

  h1 {
    align-self: center;
  }
}
